body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow-y: auto;
    background: black;
    color: var(--text-color);
}

nav {
    position: fixed;
    padding-top: 8px;
    padding-bottom: 8px;
    top: 0;
    width: 100%;
    display: flex;
    height: 46px;
    justify-content: space-between;
    z-index: 1000;
    background: rgba(0,0,0,0.9);
    color: white;
}

nav .icon img,nav .icon svg {
    filter: brightness(0) invert(1);
}
nav section, button {
    display: flex;
    align-items: center;
    background: rgb(0,0,0,0.5);
    color: white;
}

.brand-logo {
    filter: none !important;
}


#menu svg {
    margin-left: 20px;
    background:#333232;
    fill: white;
}
    
#searchInput {
    width: 500px;
    height: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: rgba(62, 61, 61, 0.6);
    border: solid 1px rgba(62, 61, 61, 0.5);
    flex-shrink: 1; 
    flex: 1 1 auto;
}



#searchIcon {
    width: 50px;
    height: 25px;
    padding: 3.3px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid 1px #333232 ;

    border-left: none;
    background:#333232;
}

#micIcon {
    border-radius: 18px;
    padding: 6px;
    background:#333232;
    margin-left: 12px;
}

#micIcon:hover,#notificationIcon:hover {
    background-color: #3a3a3a;
}

#user{
    display: flex;
    margin-right: 20px;
    min-width: 213px;
    height: 40px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px ;
}

#theme-toggle {
    margin-right: 6px;
    padding: 6px;
    border: none;
    border-radius: 18px;
    height:38px ;
    width: 50px ;
    background:#333232;

}
#create-button {
    display: flex;         
    flex-shrink: 0; 
    align-items: center;
    gap: 6px;               

}
#user-button {
    border-radius: 9999px;
    border: none;
    height: 36px;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    background-color:#333232;

}

#user-button:hover {
    background-color: #272727;
}

#user > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    margin-right: 20px;
    cursor: pointer;
    flex-shrink: 0;
}

#notificationIcon{
    border-radius: 18px;
    width: 24px;
    height: 24px;
    padding: 6px;
    margin-left: 16px;
    cursor: pointer;
    flex-shrink: 0;
    background:#333232;

}

#notificationIcon:hover {
    background-color:#333232;
;
}

aside {
    top: 56px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 56px);
    width: 240px;
    left: 0;
    color: #ffffff;
    font-size: 14px;
}

.side-group {
    display:flex;
    flex-direction: column;
    width:240px;
    padding: 12px;
    border-bottom: 1px solid #272727;
}



.side-button {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0 12px;
    height: 40px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    
}

.side-button span {
    color: #ffffff;
    font-size: 14px;
}

.side-button:hover {
    background-color: #272727;
}

.side-button.active {
    background-color: #3a3a3a;
    font-weight: 500;
}

.side-button  img {
    margin-right: 24px;
    filter: brightness(0) invert(1);
    color:white;
      width: 24px;
    height: 24px;
}


.menu-title {
    
    height: 40px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    padding: 1.5px 6px;
    background: black;
}

.user-label  {
    font-weight: 550;
    padding-right: 8px;
    
    font-size: 18px;
    margin-left: 10px;
}

footer {
    padding: 16px 24px 0;
    border-top: 1px solid rgb(96 96 96);
    font-size: 16px; 
    flex-wrap: wrap;
    
}

footer a{
    text-decoration: none;
    margin-right: 8px;
    color:rgb(96 96 96) ;
    font-size: 13px;
    font-weight: 600;
}

footer, p {
   font-size: 13px;
   color: #909090 ;
}

main {
    margin-left:240px ;
    margin-top: 56px;
    padding: 16px;
}

.video {
    position: relative;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 18px;
}
.thumbnail {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 12px;
}

.thumbnail img,.thumbnail video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.preview-video {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.video {
  background: var(--card-bg);
}

.video-details {
    flex: 1;
}
.video-details .title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
    color: #fff;
}

.posted-by {
    font-size: 12px;
    column-rule: #aaa;
    margin-top: 4px;
    color:#fff;

}

.details {
    display: flex;
    gap: 8px;
    align-self: start;
    margin-top: 8px;
    padding: 0 4px;
}


.profile img {
    width: 34px;
    height: 34px;
    border-radius: 50%;;
}

.more-options {
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}

.more-options svg {
    width: 20px;
    height: 20px;
    fill: var(--text-color);
    opacity: 0.8;
}

.more-options:hover svg {
    fill: #fff;
    opacity: 1;
}

:root {
  --bg-color: #0f0f0f;
  --text-color: #ffffff;
  
}

.thumbnail {
    position: relative;
}

video-actions {
    gap: 8px;
    position: absolute;
    right: 8px;
    bottom: 8px;
    flex-direction: row;
    
}


.watch-later-btn,
.playlist-btn {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    flex: auto;
    
}
